/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="" rel="stylesheet"> */
.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerLeft,
.headerRight {
    display: flex;
    align-items: center;
}

a>span {
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    text-decoration: none;
    color: white !important;
}

.header_icon {
    width: 30%;
}